/* Use box-sizing:border-box across the board, as per
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
    box-sizing: border-box;
}

/* Use flexbox so that our grid displays legibly on mobile. */
.flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-column {
    flex-basis: 100%;
    max-width: 100%;
}

@media (min-width:800px) {
    .flex-column-half {
        flex-basis: 49%;
        max-width: 49%;
        padding-right: 1%;
    }
    .flex-column-fourth {
        flex-basis: 24%;
        max-width: 24%;
        padding-right: 1%;
    }
}

/* Provide some basic styling so that our buttons are a bit less ugly than regular unstyled buttons. */
ul.actionButtonList {
    padding:0;
}
ul.actionButtonList li {
    list-style: none;
    margin:10px 0px;
}
ul.actionButtonList input,
input.actionButton {
    width: 135px;
    padding:6px;
    border: 1px solid grey;
    border-radius: 8px;
}